package foo

type Thing struct {
    Field1 string `opt` 
    Field2 []*int  `opt`
    Field3 map[byte]float64
}

type ThingThong struct {
    F1 string `opt` 
    F2 []int  `opt`
    F3 map[byte]float64
}

type Data string